name: python-helloworld

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  buildx:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
    
      - name: Run Buildx
        run: |
             docker buildx build \
             --platform linux/amd64,linux/arm64 \
             --output "type=image,push=true" \
             --file Dockerfile
